<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/beans">

	<!-- MODEL VIEW -->
	<bean id="beanModelView"
		class="org.springframework.web.servlet.ModelAndView" scope="prototype">
	</bean>
	<!-- CONFIG HIBERNATE -->
	<bean id="beanConfigHibernate" class="Dao.ConfigHibernate"
		scope="prototype">
	</bean>
	<!-- BEAN ENCRIPTAR CONTRASEÑA -->
	<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<!-- BEAN USUARIO -->
	<bean id="beanUsuario" class="Entidad.Usuario">
		<property name="usuario" value="pepe"></property>
		<property name="contrasenia" value="123"></property>
		<property name="rol" value="ROLE_USER"></property>
	</bean>
</beans>
